.container-app {
    height: 100%;
    position: relative;
  }
  
   .content-app {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    padding: 20px;
  }
  #menu-fab-btn{
  
    right: 20px;
    bottom: 10px;
    left: auto;
    position: absolute;
  }