<mat-drawer-container class="container-app" hasBackdrop="True">
    <mat-drawer #drawer [mode]='"over"' class="sidenav" mode="side">
        <ul>
            <li><a (click)="navigate('')" routerLinkActive="active">Maison</a></li>
            <li><a (click)="navigate('/ajout')" routerLinkActive="active">Ajouter une dépense</a></li>
        </ul>

    </mat-drawer>

    <div class="content-app">
        <ng-content></ng-content>

    </div>
    <button id="menu-fab-btn" mat-fab color="warn" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-drawer-container>